black==24.4.2
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.3.0
contourpy==1.3.3
cycler==0.12.1
fonttools==4.61.0
idna==3.10
isort==6.0.1
kiwisolver==1.4.9
matplotlib==3.10.6
mrtparse==2.2.0
mypy==1.16.1
mypy-extensions==1.0.0
narwhals==2.5.0
netaddr==1.2.1
networkx==3.5
numpy==2.3.2
orjson==3.10.18
packaging==24.0
pandas==2.3.1
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.4.0
plotly==6.2.0
pycountry==24.6.1
pycountry-convert==0.7.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytricia==1.3.0
pytz==2025.2
requests==2.32.3
scipy==1.16.2
setuptools==68.1.2
six==1.17.0
StrEnum==0.4.15
tabulate==0.9.0
tomli==2.0.1
types-networkx==3.5.0.20251106
types-requests==2.32.4.20250611
types-tabulate==0.9.0.20241207
typing_extensions==4.11.0
tzdata==2025.2
urllib3==2.5.0
wheel==0.42.0